<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MShare">
        <activity
            android:name=".ExitActivity"
            android:autoRemoveFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".EditFavoriteActivity"
            android:exported="false" />

        <receiver
            android:name=".broadcastReceivers.ReplyNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MediaPlayerActivity"
            android:exported="false" />

        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SongListActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>

        <receiver
            android:name=".broadcastReceivers.RequestNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.FirebaseNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".UserListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>